#game {
  text-align: center;
}

#game-wrap {
  position: relative;

  > svg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    > g {
      transform-origin: 200px 200px;
      transition: all 800ms ease-in-out;

      &.collision {
        transform: rotate(360deg);
        opacity: 0;
      }
    }
  }
}

#game-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#game-trigger {
  margin-top: 1rem;
  border: 0;
  color: #FFF;
  opacity: 0.5;
  background: transparent;
  transition: opacity 280ms ease;

  .icon {
    font-size: 5rem;
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
    border: 2px solid #FFF;
    border-radius: 5rem;
    transition: all 280ms ease;
  }
  &.active {
    opacity: 0.8;
  }
}
