<div id="game-wrap">
  <!--<svg width="400" height="400" xmlns="http://www.w3.org/2000/svg">-->
    <!--<defs>-->
      <!--<clipPath id="myClip">-->
        <!--<path fill="white" d="M200,135 A65,65,0,0,1,265,199.99999999999997 L255,200 A55,55,0,0,0,200,145 z"></path>-->
      <!--</clipPath>-->
    <!--</defs>-->
    <!--<circle cx="200" cy="200" r="60" fill="none" stroke="red" stroke-width="10" clip-path="url(#myClip)" />-->
  <!--</svg>-->
  <div id="game-status"></div>
  <svg width="400" height="400" viewBox="0 0 400 400" preserveAspectRatio="xMinYMin meet" #svg></svg>
  <ion-icon id="game-trigger" name="finger-print" (tap)="onTap()"></ion-icon>
</div>
